.upHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin-top: 24px;
}
.upHeaderLeftSide {
  display: flex;
}
.btnSeeAll {
  color: #00798a;
  border: none;
  background-color: white;
  font-weight: bold;
}
.btnSeeAll:hover {
  cursor: pointer;
  text-decoration: underline;
}
.btnup {
  width: 239px;
  background-color: #97cad11f;
  border: none;
  color: #00798a;
  margin-left: 8px;
  padding-left: 12px;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
.btnup img {
  margin-left: 8px;
}
.btnup:hover {
  color: #16a5b8;
  cursor: pointer;
}

@media (max-width: 576px) {
  .upHeaderLeftSide {
    width: 80%;
    white-space: nowrap;
    align-items: center;
    gap: 4px;
  }
  .upHeaderLeftSide h3 {
    font-size: 22px;
  }
  .upHeader {
    margin-bottom: 17px;
  }
  .btnSeeAll {
    display: none;
  }
}
